<%- include('../partials/header') %>

<h2>Select Your Ride</h2>
<form action="/autoblogs" method="POST">
   <br><label>Make:
        <select name="make">
            <option value="Subaru">Subaru</option>
            <option value="Audi">Audi</option>
            <option value="Chevrolet">Chevrolet</option>
            <option value="Honda">Honda</option>
            <option value="Nissan">Nissan</option>
            <option value="Toyota">Toyota</option>
        </select>
    </label><br>
   <br> <label>Model:
        <select name="model">
            <option value="Bugeye WRX">Bugeye WRX</option>
            <option value="Blobeye WRX">Blobeye WRX</option>
            <option value="VA STI">VA STI</option>
            <option value="S6">S6</option>
            <option value="Silverado">Silverado</option>
            <option value="S2000">S2000</option>
            <option value="GTR">GTR</option>
            <option value="Supra">Supra</option>
        </select>
    </label><br>
    <br><label>Engine:
        <select name="engine">
            <option value="EJ205">EJ205</option>
            <option value="EJ257">EJ257</option>
            <option value="EA825">EA825</option>
            <option value="Vortec 5300">Vortec 5300</option>
            <option value="F20C">F20C</option>
            <option value="RB26DETT">RB26DETT</option>
            <option value="2JZGTE">2JZGTE</option>
        </select>
    </label><br>
    <br><input type="submit" value="LETS GO">
</form>

<div class="row">
    <div class="column">
      <img src="https://imgur.com/hqYp7RM.jpg">Brembo Calipers
      <img src="https://imgur.com/wtw9f2W.jpg">Honda Cluster
      <img src="https://imgur.com/pOF1ylK.jpg">Killer B Oil Pickup
      <img src="https://imgur.com/vizV1n4.jpg">Killer B Holy Headers
      <img src="https://imgur.com/ulHjnGR.jpg">MX-5 Coilover Adjustment
      <img src="https://imgur.com/cmTtcet.jpg"> Gold Prodrives
      <img src="https://imgur.com/d4RvqlJ.jpg">Garage Nights ft. CV Axle
    </div>
    <div class="column">
        <img src="https://imgur.com/Qvh3qpL.jpg">TGR Supra @ SEMA LV 2019
        <img src="https://imgur.com/Lag3YAh.jpg">EVO V @ SEMA LV 2019
        <img src="https://imgur.com/oYd1zQM.jpg">S-Turn Local Drift Spot, LV
        <img src="https://imgur.com/xlLyLq8.jpg">Hawkeye @ Mt. Charleston
        <img src="https://imgur.com/GWWGU9u.jpg">Jesus' Rear Suspension Setup
        <img src="https://imgur.com/4NRDtbP.jpg">Silvia at LV Speedway
        <img src="https://imgur.com/4CeShez.jpg">TJ Hunt Drift Event, LV
      </div>


<%- include('../partials/footer') %>